.back-button{
    padding: 6px 24px;
    box-shadow: 0px 0px 4px 0px;
    border-radius: 4px;

}
body{       /*body = all the visible contents taged inside the body*/
     background-color: white;
     color: black;

 }
     /*dark mode*/
 body.dark-mode{
    background-color:black;
    color: white;
 }
.country-content{
    display: flex;
    align-items: center;
    gap:64px;
    margin-top: 64px;
}
.country-content img{
    width: 40%;
}
.details-word{
    display: flex;
flex-direction: column;
row-gap: 12px;
column-gap:64px;
gap: 12px;
max-height: 150px;
flex-wrap: wrap;

    
}
.details-word p{
    margin: 0;
}
@media(max-width:500px){
    .country-content{
        flex-direction: column;
        align-items: center;
    }
}
.border-countries{
    margin-top: 48px;
}
.border-countries a{
    padding: 6px 16px;
    box-shadow: 0 0 2px 0px;
    border-radius: 4px;
    margin-inline: 4px;
    font-size: 12px;

}