
.main-container {
    max-width: 1440px;     /*to adjust the width of the width of the browser max =1440 - fluid container*/
    padding: 0 5%;       /*top and bottom - 0, rt and left = 20*/
    box-sizing: border-box;   /*prevent overflow of container */  

}
/*light mode*/
 body{       /*body = all the visible contents taged inside the body*/
     background-color: hsl(0, 0%, 99%) ;
     color:hsl(200, 15%, 8%);

 }
     /*dark mode*/
 body.dark-mode{
    background-color: hsl(207, 26%, 17%);
    color:  hsl(0, 100%, 100%);

 }
 main{
  height: auto;
  margin: 0;
  padding-top: 16px;
 }


.column img{
    display: block;
    max-width: 100%; /*makes the image responsive*/
    
}
.country-container{
    max-width: 1200px;
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 40px;
    justify-content: space-around;
    padding: 2rem;
}
.country-cards{
    display: inline-block;/* for making the card side byside*/
    width: 250px;
    min-height: 320px;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 24px;
    box-shadow: 0 0 2px 0px ;
    transition: transform0 0.3s;


}
.country-cards:hover{
 background-color:gray;
 transform:scale(1.03);
}
.country-cards img{
    width: 100%;
    height: 150px;
    object-fit:cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card-details{
    padding-inline: 16px;
}
.details-title{
  font-size: 24px;
  margin-block: 16px;
}
.card-details p{
    margin-block: 8px;
}
.search-bar{
    margin-top: 16px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
}
.search-container{
    box-shadow: 0 0 8px 0px;
    max-width: 400px;
    width: 100%;
    border-radius: 4px;
    padding-left:24px;
    padding-right: 24px;
    overflow: hidden;
    

}
.search-container input{ 
    border: 0px; 
    outline: none;
    padding: 12px 0px;
} 
.filter-by-region{
    width: 250px;
    padding: 16px;
    outline: none;
    box-shadow: 0 0 8px  0px;
    border-radius: 4px;


}
/* .search-bar{
    flex-direction: column;
} */